html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

* {
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css code */

html {
	display: block;
	color: -internal-root-color;
}

body {
	display: block;
	padding: 10px;
	margin: 8px;
}

/* header */

.brand-header {
	width: 1850px;
	height: 109px;
	border-bottom: 3px solid black;
}

h1.brand {
	display: block;
	font-family: "Snell Roundhand";
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	margin: 40px 0px;
}

/* top content */

.row {
	display: flex;
	width: 100%;
	align-items: stretch;
	border-bottom: 3px solid black;
	border-left: 1px solid black;
}

.quarter {
	width: 25%;
}

.story {
	border-right: 1px solid black;
	padding: 0 10px;
}

h1.article-title {
	display: block;
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	margin: 30px 0px;
}

p.article-text {
	display: block;
	margin: 20px 0px;
}

.half {
	width: 50%;
}

.story {
	border-right: 1px solid black;
	padding: 0 10px;
}

.article-img {
	width: 100%;
}

/* bottom content */

.other-sections {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.three-quarter {
	width: 75%;
}

.story {
	border-right: 1px solid black;
}

ul {
	list-style-type: disc;
	margin-block-start: 1em;
 	margin-block-end: 1em;
  	margin-inline-start: 0px;
  	margin-inline-end: 0px;
  	padding-inline-start: 40px;
}

.site-section {
	display: flex;
	align-items: center;
	flex-grow: 1;
  	flex-shrink: 1;
  	flex-basis: 0%; 
}

.section-link {
	text-decoration: none;
	font-size: 30px;
	padding-left: 30px;
	font-weight: bold;
	font-family: "futura";
	color: #666;
}

.site-section-politics {
	background-color: #ffeaa7;
}

.site-section-tech {
	background-color: #81ecec;
}

.site-section-local {
	background-color: #55efc4;
}

.site-section-opinion {
	background-color: #74b9ff;
}

.site-section-sports {
	background-color: #a29bfe;
}





